<!Doctype html>
<html>
  <head>
    <title>Pop Quiz</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="title-area">
          <app-title></app-title>
        </div>
        
          
          <app-questions class ="questions-area" [hidden]="this.isQuizOver"  [currentQuestion]="currentQuestion" (answerSelected)="answer($event)"></app-questions>
        
        
          <app-end-quiz  class ="end-quiz" [hidden]="!isQuizOver" [userGrade] = "grade" ></app-end-quiz>
        
        <div class ="answers-area">
          <app-side-answars [summary] = "answeredQuestion"></app-side-answars>
        </div>
      
  </div>
  </body>
</html>