<!Doctype html>
<html>
  <head>
    <title>Pop Quiz</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="title-area">
          <app-title></app-title>
        </div>
        <div class = "question-area">
            <app-questions *ngIf="!this.isQuizOver"  [currentQuestion]="currentQuestion" (answerSelected)="answer($event)"></app-questions>
            <app-end-quiz   *ngIf="isQuizOver" [userGrade] = "grade" ></app-end-quiz>
        </div>
        <div class ="answer-area">
          <app-side-answars [summary] = "answeredQuestion"></app-side-answars>
        </div>
      
  </div>
  </body>
</html>