
li{
    margin: 3px;
    font-size: medium;
    padding: 3px;
    border: 2px black solid;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    background-color: burlywood;
    
}
li:hover{
    background-color:cadetblue;
}
ol{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    
}